@model PatientPathology.Models.Biopsy

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Biopsy</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BioDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BioDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BioType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BioType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PathClassification)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PathClassification)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PathType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PathType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatDOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatDOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProvLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProvLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TechnologistName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TechnologistName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
